@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	background: url('img/try.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8rem 2rem;
	position: sticky;
	top: 0;
	left: 0;
}

header h1 {
	font-size: 3rem;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.5rem;
}

header li {
	list-style-type: none;
	font-size: 1.3rem;
}

header a {
	text-decoration: none;
	color: white;
}

.signup-btn, .login-btn {
	font-size: 1rem;
	background: transparent;
	color: white;
	font-weight: bold;
	width: 8rem;
	border: 1px solid white;
	padding: 0.6rem 1.2rem;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
}

.signup-btn {
	background-color: white;
	color: black;
}

header li:hover, .signup-btn:hover, .login-btn:hover {
	opacity: 0.8;
}

#homeID {
	height: 50vh;
	padding: 160px 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.home-ctn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	background-color: #007c4885;
	border-radius: 12px;

	transition: all .2s ease-in-out;
}

.home-ctn:hover { 
	transform: scale(1.2); 
}

#placePic {
	float: left;
	width: 300px;
  	background: #39c044;
	text-align: center;
}

#placeDescription {
  	background-color: #007c49;
	color: #ffffff;
	height: 200px;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#contactID {
	background: #bbbbbb;
}
  